// Define the primary color theme of the UI
/* $ui_element_color: #319933;

$ui_highlight_low: darken($ui_element_color, 10%);
$ui_highlight_low: darken($ui_element_color, 10%);

$ui_background: lighten($ui_element_color, 45%);

*/

$ui_background: #EFFFE8;
$ui_light_box: darken($ui_background, 6%);
$ui_dark_darker: darken($ui_background, 85%);
$ui_dark_element: darken($ui_background, 80%);
$ui_dark_hilight: lighten($ui_dark_element, 20%);

// Fonts

@font-face {
    font-family: raleway;
    font-weight: normal;
    src: url(Raleway-Regular.ttf);
}

@font-face {
    font-family: raleway;
    font-weight: bold;
    src: url(Raleway-SemiBold.ttf);
}

@font-face {
    font-family: anonymous;
    font-weight: normal;
    
    src: url(AnonymousPro-Regular.ttf);
}


@font-face {
    font-family: anonymous;
    font-weight: bold;
    
    src: url(AnonymousPro-Bold.ttf);
}

// Basic elements
* {
   box-sizing: border-box;
}

html, body {
    background: $ui_background;
    padding: 0%;
    margin: 0%;
    
    font-size: 100%;
}

// Main navigation bar

.navigation_bar {
    
    ul {
        background: $ui_dark_element;
        
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
        font-family: raleway;
        font-weight: bold;
        
        a, p {
          display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;  
        }
        
        p {
            font-family: anonymous;
            background: $ui_dark_darker;
            margin: 0;
        }
    }
        
    

    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: $ui_dark_hilight;
    }
}

// Logical container for flex

.content_container {
        margin: auto;
        max-width: 80%;
}

// Main content box

.content_box {
    
    font-family: anonymous;

    h1 {
        font-size: 1.2rem;
        
        padding: 0;
        margin: 0;
        background: $ui_dark_hilight;
        
        font-weight: bold;
        
        text-align: center;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        
    }
    
    h2 {
        text-align: center;
    }
    
    h2, p, strong, table {
        margin: 0.1rem;
        padding: 0.5%;
    }
    
    
    border-style: solid;
    background-color: $ui_light_box;
    border-width: 0.15rem;
    border-color: $ui_dark_hilight;
    max-width: 1200px;
    
    
    margin: auto;

    margin-top: 3%;
}


.virtual_terminal {
    margin: 2%;
    
    resize: vertical;
    
    border-color: gray;
    border-style: dotted;
    
    height: 500px;
    
    display: flex; 
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    
    .console, .editbox {
        margin: 0;
        padding: 0;
    }
    
    
    
    .console {
        background: black;
        overflow: auto;
        flex-grow: 1;
        
        
        
        p {
            margin: 0;
            padding-left: 0.3rem;
            padding-right: 0.3rem;
            padding-top: 0.1rem;
            padding-bottom: 0.1rem;
            white-space: nowrap;
            color: white;
        }
        
        p.server {
            font-weight: bold;
        }
    }
    
    .editbox {
        padding-left: 0.3em;
        background: white;
        height: 1.3em;
        flex-grow: 0;
        flex-shrink: 0;
    }
    
    .editbox::before {
       content: "> "
    }
}

