/* $ui_element_color: #319933;

$ui_highlight_low: darken($ui_element_color, 10%);
$ui_highlight_low: darken($ui_element_color, 10%);

$ui_background: lighten($ui_element_color, 45%);

*/
@font-face {
  font-family: raleway;
  font-weight: normal;
  src: url(Raleway-Regular.ttf); }

@font-face {
  font-family: raleway;
  font-weight: bold;
  src: url(Raleway-SemiBold.ttf); }

@font-face {
  font-family: anonymous;
  font-weight: normal;
  src: url(AnonymousPro-Regular.ttf); }

@font-face {
  font-family: anonymous;
  font-weight: bold;
  src: url(AnonymousPro-Bold.ttf); }

* {
  box-sizing: border-box; }

html, body {
  background: #EFFFE8;
  padding: 0%;
  margin: 0%;
  font-size: 100%; }

.navigation_bar {
  /* Change the link color to #111 (black) on hover */ }
  .navigation_bar ul {
    background: #184f00;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .navigation_bar li {
    float: left;
    font-family: raleway;
    font-weight: bold; }
    .navigation_bar li a, .navigation_bar li p {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; }
    .navigation_bar li p {
      font-family: anonymous;
      background: #103600;
      margin: 0; }
  .navigation_bar li a:hover {
    background-color: #37b500; }

.content_container {
  margin: auto;
  max-width: 80%; }

.content_box {
  font-family: anonymous;
  border-style: solid;
  background-color: #daffc9;
  border-width: 0.15rem;
  border-color: #37b500;
  max-width: 1200px;
  margin: auto;
  margin-top: 3%; }
  .content_box h1 {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    background: #37b500;
    font-weight: bold;
    text-align: center;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem; }
  .content_box h2 {
    text-align: center; }
  .content_box h2, .content_box p, .content_box strong, .content_box table {
    margin: 0.1rem;
    padding: 0.5%; }

.virtual_terminal {
  margin: 2%;
  resize: vertical;
  border-color: gray;
  border-style: dotted;
  height: 500px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: stretch; }
  .virtual_terminal .console, .virtual_terminal .editbox {
    margin: 0;
    padding: 0; }
  .virtual_terminal .console {
    background: black;
    overflow: auto;
    flex-grow: 1; }
    .virtual_terminal .console p {
      margin: 0;
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
      white-space: nowrap;
      color: white; }
    .virtual_terminal .console p.server {
      font-weight: bold; }
  .virtual_terminal .editbox {
    padding-left: 0.3em;
    background: white;
    height: 1.3em;
    flex-grow: 0;
    flex-shrink: 0; }
  .virtual_terminal .editbox::before {
    content: "> "; }

/*# sourceMappingURL=theme.css.map */