<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Emerald - <%= ERB::Util.html_escape page_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="theme.css">
  <script src="jquery-3.1.1.js"></script>
</head>

<body>
<div class="navigation_bar">
  <ul>
    <li><a class="active" href="">Main</a></li>

    <li style="float: right"><p><strong>Emerald v. <%= emerald_version %></strong></p></li>
  </ul>
  <div class="content_container">
    <%# Each subitem is to be put in its own box, with the keys specifiying the precise content and the title %>
    <% (subcontent || []).each do |content_hash| %>
        <div class="content_box">
          <h1><%= ERB::Util.html_escape content_hash[:title] %></h1>
          <%= content_hash[:content] %>
        </div>
    <% end %>
  </div>
</div>
</body>
</html>