<%# Remember to provide 'terminal_id' to identify the correct stream under the 'streams' subfolder
  Absolutely avoid ANY odd characters, and stick to ASCII letters

%>

<script src="console.js"></script>

<div class="virtual_terminal">
  <div class="console" id="<%= terminal_id %>_console">
  </div>
  <div class="editbox" id="<%= terminal_id %>_editbox">
  </div>
    <script>
      $("document").ready(function(){emeraldConsoleUtils.initialize_for_stream("<%= terminal_id %>");});
    </script>
</div>