<p>The server is <strong id="server_state_txt">...</strong>, checked last on <strong id="date_txt">...</strong></p>
<table><tr><td><a href="streams/minecraft/start">Start</a></td><td><a href="streams/minecraft/stop">Stop</a></td></tr></table>
<script>
  var intervalID;

  var statusChecker = {
    updateState: function() {
      $.get("server_status_json", function (data) {
        if ($.isPlainObject(data)) {
          $("#server_state_txt").text(data["is_running"] ? "running" : "stopped")
          $("#date_txt").text(data["date"]);
        } else {
          //No-op, not a hash
        }
      })
    }
  };

  $("document").ready(function() {
    setInterval(statusChecker.updateState, 5000);
    statusChecker.updateState(); // Check immediately
  });
</script>